<%- include("./partials/header") %>
<div class="header text-center jumbotron" style="height: 600px; margin-top: 0;" id="about-image">
	<h2 class="tshadow" id="about-header-2">
		WE'RE A FAMILY HERE
	</h2>
	<h1 class="tshadow" id="about-header">
		AND OUR FAMILY<br>REJOICES IN<br>GROWING
	</h1>
</div>

<div class="container" id="about-container">
	<h1 id="about-header-3">WHAT WE BELIEVE</h1>
	<ol class="about-body">
		<li>
			<strong>We Believe Christianity is a Religion and a Relationship</strong>
			<p>
				Christianity, like all religions, is a set of beliefs that answers the main questions of life: “Who are we? How did we get here? What are we supposed to do? What happens when we die?” Religions tackle the questions of life that can’t be answered by philosophy, science, and logic alone.
			</p>
			<p>
However, Christianity is more than just a religion; it is also a relationship. Christianity teaches that we are not only made by God for God, but made to be with God. Christians are not simply people who agree with the Christian answers, but people who actually live with the one and only God of the universe.
			</p>
				
		</li>
		<li>
			<strong>We Believe in the God of the Bible</strong>
			<p>
				There is only one God, eternal in essence, perfect in nature, glorious in every way. He is the fountain of all goodness and the Creator of all things. Omniscient, Omnipotent, and Omnipresent, He is sovereign over all creation.
			</p>
			<p>
We also believe that God is Triune. The Father, Son, and Holy Spirit are coequal and coeternal, fully God, yet not each other, without dividing God into parts. The mystery of the Trinity is beyond our understanding, yet we see and affirm it in Scripture.
			</p>
				
		</li>
		<li>
			<strong>We Believe Humans Are Sinful</strong>
			<p>
				God created the first human beings, Adam and Eve, perfect and sinless. However, they sinned. As descendants of Adam and Eve, we are all marked by sin (original sin). Humanity and creation itself groans as it falls short of the glory of God.
			</p>
			<p>
Since God is righteous and holy, He will punish all sins (the wages of sin are death and eternal separation from God in hell). No one is good enough to deserve heaven. However, while we were still sinners, God sent Jesus Christ.
			</p>
		</li>
		<li>
			<strong>We Believe in Jesus Christ</strong>
			<p>
				Jesus, the Second Person of the Trinity, came to live a perfect life and die on the cross as a substitute for us. Since God is righteous He must punish all sins perfectly and totally, yet since He is loving He is willing to accept a substitute. We believe that Jesus Christ, God in the flesh, was punished for our sins, that whoever believes in Him will be counted righteous in Him.
			</p>
			<p>
On the cross , Jesus suffered the wrath of God and died but through His resurrection, He triumphed over sin and death. Jesus ascended to Heaven and will return one day to judge the living and the dead.
			</p>
		</li>
		<li>
			<strong>We Believe in the Church</strong>
			<p>
				We believe that the church is the body of Christ and the Spirit is working in the lives of believers to reach the world for the glory of God. We believe the church is where believers learn, love, and grow together as the body of Christ. We also believe that though the church is not perfect, believers must be committed to each other in a loving, growing, Biblical community.
			</p>
		</li>
		<li>
			<strong>We Believe the Bible is the Word of God</strong>
			<p>
				We believe that the Bible is the God-breathed, infallible, inerrant Word of God. We believe that Scripture is sufficient and clear, able to instruct us in the way of salvation. Since Scripture is sufficient in making the simple wise in the ways of God, we believe that the Bible (not private revelations or personal experience) is the authority over the Christian life.
			</p>
		</li>
		<li>
			<strong>We believe that Jesus is Coming Again</strong>
			<p>
				We believe that Jesus is coming again to rule and reign over the Earth. He will come to be glorified, to save us, to judge unbelievers, and to make all things new. Believers will join Him in eternal Heaven while unbelievers will receive punishment in eternal Hell. 
			</p>
		</li>
	</ol>
	<div class="text-center about-buttons">
		<a class="btn btn-lg about-btn" href="/">Meet the Staff</a>
		<a class="btn btn-lg about-btn" href="/">Ministries</a>
	</div>
</div>

<%- include("./partials/footer") %>