<%- include("./partials/header") %>
<div class="header text-center jumbotron" style="margin-top: 0;" id="about-image">
	<h2 class="tshadow" id="about-header-2">
		WE'RE A FAMILY HERE
	</h2>
	<h1 class="tshadow about-header">
		AND OUR FAMILY<br>REJOICES IN<br>GROWING
	</h1>
</div>
<div class="header text-center jumbotron" style="margin-top: 0;" id="about-image2">
	<h1 class="about-header" style="text-shadow: #474747 3px 5px 2px;">
		WHAT WE BELIEVE
	</h1>
</div>
<div id="belief-container" class="row" style="margin: 0;">
	<div class="col-lg-6 col-md-12 belief-box" id="belief-1">
		<div class="image-container">
			<img src="https://www-images.christianitytoday.com/images/75142.jpg" alt="god pic">
		</div>
		<div class="text-container">
			<p class="belief-p tshadow">
				Christianity is more than just a religion; it is also a relationship. 
				Christianity teaches that we are not only made by God for God, but made to be with God. 
				Christians are not simply people who agree with the Christian answers, 
				but people who actually live with the one and only God of the universe.
			</p>
		</div>
		<h2 class="belief-text tshadow">
			Christianity as a Religion and a Relationship
		</h2>
	</div>
	<div class="col-lg-6 col-md-12 belief-box" id="belief-2">
		<div class="image-container">
			<img src="https://images.unsplash.com/photo-1510590337019-5ef8d3d32116?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8c21hbGwlMjBncm91cHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="bible pic">
		</div>
		<div class="text-container">
			<p class="belief-p tshadow">
				There is only one God, eternal in essence, perfect in nature, 
				glorious in every way. He is the fountain of all goodness and the 
				Creator of all things. Omniscient, Omnipotent, and Omnipresent, 
				He is sovereign over all creation. We also believe that God is Triune. 
				The Father, Son, and Holy Spirit are coequal and coeternal, fully God, 
				yet not each other, without dividing God into parts. The mystery of the 
				Trinity is beyond our understanding, yet we see and affirm it in Scripture.
			</p>
		</div>	
		<h2 class="belief-text tshadow">
			The God of the Bible
		</h2>
	</div>
	<div class="col-lg-6 col-md-12 belief-box" id="belief-3">
		<div class="image-container">
			<img src="https://i.pinimg.com/originals/a9/a8/3e/a9a83efe190ed9660b27be8047b94edd.jpg" alt="apple tree pic">
		</div>
		<div class="text-container">
			<p class="belief-p tshadow">
				God created the first human beings, Adam and Eve, perfect and sinless.
				However, they sinned. As descendants of Adam and Eve, we are all marked by sin (original sin). 
				Humanity and creation itself groans as it falls short of the glory of God. 
				Since God is righteous and holy, He will punish all sins (the wages of sin 
				are death and eternal separation from God in hell). No one is good enough 
				to deserve heaven. However, while we were still sinners, God sent Jesus Christ.
			</p>
		</div>
		<h2 class="belief-text tshadow">
			Humans Are Sinful
		</h2>
	</div>
	<div class="col-lg-6 col-md-12 belief-box" id="belief-4">
		<div class="image-container">
			<img src="https://live.staticflickr.com/3496/4007067318_c98653473c_b.jpg" alt="cross pic">
		</div>
		<div class="text-container">
			<p class="belief-p tshadow">
				Jesus, the Second Person of the Trinity, came to live a perfect life 
				and die on the cross as a substitute for us. Since God is righteous He must punish all 
				sins, yet since He is loving He is willing to accept a substitute. Jesus Christ, 
				God in the flesh, was punished for our sins, that whoever believes in Him 
				will be counted righteous in Him. On the cross , Jesus suffered the wrath of God and died but 
				through His resurrection, He triumphed over sin and death. Jesus ascended to Heaven and will 
				return one day to judge the living and the dead.
			</p>
		</div>
		<h2 class="belief-text tshadow">
			Jesus Christ
		</h2>
	</div>
	<div class="col-lg-6 col-md-12 belief-box" id="belief-5">
		<div class="image-container">
			<img src="https://live.staticflickr.com/7087/13741401484_1dc1d722f6_b.jpg" alt="church pic">
		</div>
		<div class="text-container">
			<p class="belief-p tshadow">
				We believe that the church is the body of Christ and the Spirit
				is working in the lives of believers to reach the world for the glory of God. 
				We believe the church is where believers learn, love, and grow together as the 
				body of Christ. We also believe that though the church is not perfect, believers 
				must be committed to each other in a loving, growing, Biblical community.
			</p>
		</div>
		<h2 class="belief-text tshadow">
			The Church
		</h2>
	</div>
	<div class="col-lg-6 col-md-12 belief-box" id="belief-6">
		<div class="image-container">
			<img src="https://live.staticflickr.com/22/31634552_796d985eb1.jpg" alt="bible pic">
		</div>
		<div class="text-container">
			<p class="belief-p tshadow">
				We believe that the Bible is the God-breathed, infallible, inerrant 
				Word of God. We believe that Scripture is sufficient and clear, able 
				to instruct us in the way of salvation. Since Scripture is sufficient 
				in making the simple wise in the ways of God, we believe that the Bible 
				(not private revelations or personal experience) is the authority over the Christian life.
			</p>
		</div>
		<h2 class="belief-text tshadow">
			The Bible as God's Word
		</h2>
	</div>
</div>

<%- include("./partials/footer") %>