<%- include("./partials/header") %>


<div class="login login-div">
	<h1>LOGIN PAGE</h1>
	<form class="login" action="/login" method="POST">
		<input type="text" name="username" placeholder="username">
		<input type="password" name="password" placeholder="password">
		<button>Submit</button>
	</form>
</div>


<%- include("./partials/footer") %>