<%- include("./partials/header") %>
<header class="jumbotron mainpage-jumbo jumbo-image" id="ministry-jumbo">
	<div class="container">
		<h1 class="ministry-head top-head tshadow">LAB GROUPS:</h1>
		<h1 class="ministry-head tshadow">BUILDING DISCIPLES</h1>
		<p class="ministry-body tshadow">
				The LAB is our Young Adult Ministry small group system to help integrate our Sunday message throughout the week. We don’t want to just be hearers of the Word, but doers of the Word. LAB is the place where we get to practice and work out these things for better application. We invite our members to join a group as we grow together.
		</p>
		<!-- <div class="text-center">
			<a class="btn btn-lg min-buttons" href="/">Join LAB!</a>
			<a class="btn btn-lg min-buttons" href="/">Other Ministries</a>
		</div> -->
	</div>
</header>	
	
	<div class="container" style="margin-bottom: 3em;" >
		<div class="row text-center">
			<div class="col-md-4 col-sm-12">
				<div class="thumbnail customthumb">
					<img class="img-fluid" src="https://cdn.pixabay.com/photo/2015/01/08/18/27/startup-593341_960_720.jpg" alt="Bible Pic">
					<div class="caption">
						<h2 class="lab-header">CONTENT OF LAB</h2>
						<p class="lab-body">
							The point of LAB is not a bible study but a community group. The focus is on gathering together and applying the gospel to our lives.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="thumbnail customthumb">
					<img class="img-fluid" src="https://cdn.pixabay.com/photo/2015/07/27/18/36/study-862994_960_720.jpg" alt="Bible Pic">
					<div class="caption">
						<h2 class="lab-header">WHO IS LAB FOR?</h2>
						<p class="lab-body">
						LAB is for all members of WJBC who desire to join with other brothers and sisters to grow together. LAB is a great starting point in finding community at WJBC.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="thumbnail customthumb">
					<img class="img-fluid" src="https://cdn.pixabay.com/photo/2014/01/18/12/16/people-247459_960_720.jpg" alt="Bible Pic">
					<div class="caption">
						<h2 class="lab-header">HOW DO I SIGN UP?</h2>
						<p class="lab-body">
						LAB is an organically formed ministry. There is no specific process to sign up but if you contact us, we’ll be happy to get you connected.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<%- include("./partials/footer") %>