<%- include("./partials/header") %>
<header class="jumbo-container" id="ministry-jumbo">
	<div class="container" style="display: flex; flex-direction: column; align-items: center;">
		<h1 class="ministry-head header-spec"><span id="mainheading">LAB GROUPS: </span><span id="subheading">BUILDING DISCIPLES</span></h1>
		<p class="ministry-body body-spec">
				The LAB is our Young Adult Ministry small group system to help integrate our Sunday message throughout the week. We don’t want to just be hearers of the Word, but doers of the Word. LAB is the place where we get to practice and work out these things for better application. We invite our members to join a group as we grow together.
		</p>
	</div>
</header>
<div class="quotes">
	<div class="green-quotes">
		<div class="content-border top"></div>
		<div class="content-border bottom"></div>
		<div class="content-border left"></div>
		<div class="content-border right"></div>
		<h2 class="quote">
			<span>"</span>
			<br>
			The point of LAB is not a bible study but a community group.
			<br>
			The focus is on <strong>gathering</strong> together
			<br>
			and <strong>applying</strong> the gospel to our lives.
			<br>
			<span>"</span>
		</h2>
	</div>
</div>
<div id="img-div-1">
	<img src="https://cdn.pixabay.com/photo/2015/01/08/18/27/startup-593341_960_720.jpg" alt="gathering at table">
</div>
<div id="img-div-2">
	<img src="https://cdn.pixabay.com/photo/2014/01/18/12/16/people-247459_960_720.jpg" alt="outside gathering">
</div>
<div id="img-div-3">
	<img src="https://cdn.pixabay.com/photo/2015/07/27/18/36/study-862994_960_720.jpg" alt="picture of bible">
</div>
<div class="join-div">
	<h1 class="ministry-head join-text">
		Join LAB
		<br>
		Ask Us Today!
	</h1>
	<p class="ministry-body join-p">
		LAB is for all members of WJBC who desire to join with other brothers and sisters to grow together. 
		LAB is a great starting point in finding community at WJBC.
	</p>
	<p class="ministry-body join-p">
		LAB is an organically formed ministry. 
		There is no specific process to sign up but if you contact us, we’ll be happy to get you connected.
	</p>
</div>
<%- include("./partials/footer") %>