<%- include("./partials/header") %>
<div class="login login-div">
	<h1>REGISTER NEW USERS</h1>
	<form class="login" action="/register" method="POST">
		<input type="text" name="email" placeholder="your email here">
		<input type="text" name="username" placeholder="username">
		<input type="password" name="password" placeholder="password">
		<input type="text" name="adminCode" placeholder="leave blank">
		<button>Submit</button>
	</form>
</div>


<%- include("./partials/footer") %>