.about-body {
	font-family: Lato;
    font-size: 18px;
    letter-spacing: .01em;
    line-height: 1.7em;
    text-transform: none;
	color: #4a4a4a;
}

.about-item-header {
	font-family: Roboto;
	font-weight: 700;
	letter-spacing: .15em;
	font-size: 30px;
	color: #4a4a4a;
}

.about-btn {
	border: 1px #cc8d0f solid;
	color: #cc8d0f;
	font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: .1em;
    text-transform: uppercase;
	margin: auto 7em 1em;
}

.about-btn:hover {
	color: white;
	background-color: #cc8d0f;
}

.about-buttons {
	margin-top: 3em;
	margin-bottom: 0;
}

.about-div {
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.about-div button {
	border: none;
	background-color: transparent;
	width: 100%;
	height: 100%;
	outline: none;
}

.about-div button:hover {
	transform: scale(1.13);
	opacity: .8;
	transition: .24s ease-in-out;
}

.about-div-plus {
	height: 300px;
	width: 100%;
}


#about-header {
	font-family: Roboto Condensed;
    font-weight: 700;
    font-style: normal;
    font-size: 94px;
    letter-spacing: .03em;
    line-height: 1em;
    text-transform: uppercase;
	color: #A9A9A9;
}

#about-header-2 {
    font-family: Roboto Slab;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .15em;
    line-height: 1.55em;
    text-transform: uppercase;
	color: #B83B3B;
	padding-top: 8em;
}

#about-header-3 {
	font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    font-size: 55px;
    letter-spacing: .15em;
    line-height: 1.2em;
    text-transform: uppercase;
	text-align: center;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	color: #4a4a4a;
}

#about-image {
	padding: 0;
	background: url("https://live.staticflickr.com/8068/8240341255_4384271520_b.jpg") top right no-repeat;
	background-size: 99.99%;
	background-position: center;
	background-attachment: fixed;
	margin-bottom: 0;
	height: 600px;
}

.about-div-alt {
	background-color: #B0B0B0;
}

.about-item-deco {
	height: 200px;
	padding: 2em;
	padding-top: 0;
}