.about-header {
	font-family: Roboto Condensed;
    font-weight: 700;
    font-style: normal;
    font-size: 94px;
    letter-spacing: .03em;
    line-height: 1em;
    text-transform: uppercase;
	color: #f6f6f6;
}

#about-header-2 {
    font-family: Roboto Slab;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .15em;
    line-height: 1.55em;
    text-transform: uppercase;
	color: #B83B3B;
	padding-top: 8em;
}

/* BELIEF BOX */
.belief-box {
	padding: 0;
	height: 50vh;
	overflow: hidden;
}

.belief-box img {
	padding: 1%;
	height: auto;
	width: 100%;
	z-index: -1;
	position: relative;
	filter: brightness(90%);
	overflow: hidden;
}

#about-image {
	padding: 0;
	background: url("https://live.staticflickr.com/640/21048525831_ef67889936_b.jpg") top right no-repeat;
	background-size: 99.99%;
	background-position: center;
	background-attachment: fixed;
	margin-bottom: 0;
	height: 600px;
	filter: brightness(90%);
}
#about-image2 {
	padding: 0;
	background: url("https://live.staticflickr.com/3771/11481464844_e7595f7f90_b.jpg") top right no-repeat;
	background-size: 140%;
	background-position: top;
	background-attachment: fixed;
	margin-bottom: 0;
	height: 350px;
	overflow: hidden;
	filter: brightness(95%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.belief-text {
	height: 100%;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	letter-spacing: .13em;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.belief-p {
	padding: 10px 14px;
	font-size: 1.1em;
	font-family: "Lato", sans-serif;
	color: white;
	opacity: 0;
}
.text-container {
	height: 100%;
	width: 100%;
	background: none;
	background-attachment: fixed;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}
.text-container p {
	transform: scale(0.85);
}
.image-container {
	height: 100%;
	width: 100%;
	position: absolute;
}

.belief-box:hover > .image-container {
	filter: brightness(40%) blur(4px);
	transition: .2s ease;
}
.belief-box:hover > .text-container h2 {
	transform: scale(1.1);
	filter: brightness(50%) blur(5px);
	transition: .2s ease;
}
.belief-box:hover > .text-container p {
	opacity: 1;
	transform: scale(1);
	transition: .35s ease;
}
