#mainheading, #subheading, .body-spec {
	opacity: 0;
	position: relative;
}

#mainheading {
    animation: transitionIn 1.5s;
	animation-delay: .3s;
	animation-fill-mode: forwards;
}
#subheading {
    animation: transitionIn 1.5s;
	animation-delay: 0.7s;
	animation-fill-mode: forwards;
}

.body-spec {
	animation: transitionIn 1.7s;
	animation-delay: 1.2s;
	animation-fill-mode: forwards;
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}