@media (max-width: 1315px) {
	.item, .item img, .overlay-image {
		width: 260px;
	}
	.item {
		height: 300px;
	}
	.overlay-image {
		height: 172px;
	}
}
@media (max-width: 1263px) {
	.about-item-deco {
		height: 240px;
	}
	.join-p {
		font-size: 1.5em;
		transform: translatey(-5vh);
	}
	.join-text {
		font-size: 3.5em;
	}
	.join-div {
		transform: translatey(-85vh);
	}
	.quote {
		font-size: 1.9em;
	}
	.green-quotes {
		padding: 100px 0;
	}
}
@media (max-width: 1158px) {
	.map img {
		height: 220px;
	}
	#col-index-2 {
		font-size: .8em;
	}
	#col-index-2 h1 {
		font-size: 2.4em;
	}
	#col-index-2 h2 {
		font-size: 1.9em;
	}
	#index-4 {
		height: 380px;
		padding-bottom: 50px;
	}
}

@media (max-width: 1008px) {
	.map img {
		height: 180px;
	}
	#index-4 {
		padding-top: 45px;
		height: 300px;
	}
	#col-index-2 {
		font-size: 75%;
	}
	.join-div {
		transform: translatey(-8vh);
		position: relative;
		width: 100%;
	}
	.join-text {
		text-align: left;
		padding-left: 3vw;
	}
}

@media (max-width: 990px) {
	.ministry-head, #index-3 h1 {
		font-size: 55px;
	}
	#index-2 h1 {
		font-size: 27px;
		margin-bottom: 16px;
	}
	#index-3 {
		height: 450px;
	}
	#index-3 p {
		font-size: 20px;
	}
	.jumbo-image, #index-3, #about-image {
		background-attachment: scroll;
	}
	.about-header {
		font-size: 60px;
	}
	#about-image {
		height: 480px;
	}
	#about-header-2 {
		padding-top: 6em;
	}
	#index-note {
		margin-top: 20px;
	}
	.about-item-header {
		font-size: 26px;
	}
	.about-item-deco {
		height: 270px;
		font-size: 15px;
	}
	.green-quotes {
		padding: 60px 0;
	}
	.quote {
		font-size: 1.4em;
	}
}
@media (max-width: 830px) {
	.about-item-header {
		font-size: 22px;
	}
}
@media (max-width: 768px) {
	#index-4 {
		height: 450px;
	}
	.map {
		height: 180px;
		margin-bottom: 6px;
	}
	#col-index-2 {
		text-align: center;
	}
	.carousel-inner, .mainpage-jumbo, #carouselExampleInterval, .carousel-item {
		height: 400px;
	}
	.carousel-caption {
		padding-top: 0;
	}
	.carousel-caption h5 {
		font-size: 50px;
	}
	.carousel-caption p {
		font-size: 16px;
	}
	
	#index-2 {
		height: 290px;
	}
	#index-2 h1 {
		margin-top: 0;
		font-size: 26px;
		margin-bottom: 10px;
	}
	#index-3 {
		height: 400px;
		padding-bottom: 0;
	}
	#index-3 h1 {
		margin-top: 45px;
		font-size: 50px;
	}
	#index-3 p {
		font-size: 17px;
	}
	.min-buttons {
		margin-bottom: 4px;
	}
	#about-header {
		font-size: 66px;
	}
	#about-header-3 {
		font-size: 35px;
	}
	#about-image {
		height: 300px;
	}
	#about-header-2 {
		padding-top: 1em;
	}
}

@media (max-width: 767px) {
	.item, .item img, .overlay-image {
		width: 400px;
	}
	.join-text {
		margin-top: 5px;
		font-size: 40px;
	}
	.join-p {
		font-size: 13px;
	}
	.header-spec {
		transform: translatey(0px) !important;
	}
	.post-butt {
		margin-top: 35px;
	}
	#mem-head {
		text-align: center;
	}
	.items {
		flex-direction: column-reverse;
	}
	#ministry-jumbo {
		height: 500px;
	}
	#message-jumbo {
		background-size: cover;
	}
	.join-div {
		transform: translatey(-29vh);
		position: absolute;
	}
	.quotes {
		transform: translatey(-22vh);
	}
	#img-div-1 {
		transform: translatey(-20vh);
	}
	#img-div-2 {
		transform: translatey(-45vh);
	}
	#about-image2 {
		background-attachment: scroll;
	}
	.belief-p {
		font-size: 0.95em;
	}
}

@media (max-width: 616px) {
	#index-3 {
		height: 320px;
	}
	#index-3 h1 {
		margin-top: 16px;
		font-size: 42px;
	}
	.about-item-deco {
		height: 310px;
		font-size: 12px;
	}
}

@media (max-width: 575px) {
	.carousel-inner, .mainpage-jumbo, #carouselExampleInterval, .carousel-item {
		height: 330px;
	}
	.carousel-caption {
		padding-top: 0;
	}
	.carousel-caption h5 {
		font-size: 40px;
	}
	.carousel-caption p {
		font-size: 14px;
	}
	#about-header {
		font-size: 50px;
	}
	#about-header-3 {
		font-size: 28px;
		margin-left: 63px;
	}
	.top-head {
		padding-top: 30px;
	}
	.jumbo-image {
		margin-bottom: 60px;
	}
}